@import "../../../assets/colors.scss";
@import "../../../assets/font.scss";
.browse {
    background-color: $mainColor;
    width: 100%;
    height: 100vh;
    font-family: $rb;
    padding: 0px 16%;
    padding-top: 50px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 2fr);
    .browse-container {
        overflow: hidden;
        width: 868px;
        padding-left: 16px;
        margin-right: 39px;
        display: flex;
        gap: 30px;
        flex-direction: column;
        .container-content {
            .playlist-title {
                font-weight: 600;
                color: $textColor;
                padding-bottom: 16px;
                font-size: 1.6em;
            }
            .content-playlist {
                display: flex;
                padding-top: 8px;
            }
        }

        .content-container-playlist {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 159px;
            margin-right: 32px;
            &:hover .playlist-play {
                display: block;
            }
            &.playlist-play {
                align-items: center;
            }
            .cover-playlist {
                display: flex;
                align-items: center;
                justify-content: center;
                object-fit: fill;
            }
            .playlist-img {
                width: 159px;
                height: 159px;
                border-radius: 15px;
                background-color: $textColor;
                margin-bottom: 8px;
            }
            .playlist-text,
            .playlist-subtext {
                // padding-top: 8px;
                font-weight: 600;
            }
            .playlist-text {
                color: $textColor;
                line-height: 1.3em;
            }
            .playlist-subtext {
                color: $secondColor;
                line-height: 1.6em;
            }
            .playlist-play {
                position: absolute;
                display: none;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                background: url(../icons/play.svg) no-repeat 62% 52%;
                background-color: #a384eb;
            }
        }
    }
}
